<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../asset/css/reg.css">
    <script defer src="../asset/js/reg.js"></script>
</head>
<body>
    <div class="container">
        <form id="regForm" method="post" class="adminForm">
            <h1>Registration</h1>
            <div class="input-control">
                <label for="username">Username</label>
                <input id="username" name="username" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="password">Password</label>
                <input id="password"name="password" type="password">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword"name="confirmPassword" type="password">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="email">Email</label>
                <input id="email" name="email" type="email">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="address">Address</label>
                <input id="address" name="address" type="text">
                <div class="error"></div>
            </div>
            <div class="buttons">
                <button type="submit">Submit</button>
                <a href="login.html"> Login</a>
            </div>
            
        </form>
    </div>
</body>
</html>