<html>
  <body>
    <form method="post" action="../controller/login.php" enctype="">
      <fieldset>
        <legend><b>LOGIN</b></legend>
        <div class="content">
          User ID:<br />
          <input type="text" name="id" value="" /><br />
          Password:<br />
          <input type="password" name="password" value="" /><br />
          <div class="register">
            <input
              type="submit"
              name="login"
              value="Submit"
              class="submitButton"
            />
          </div>
          <div class="register">
            <a href="reg.html"> Register </a>
          </div>
        </div>
      </fieldset>
    </form>
  </body>
</html>

<style>
  body {
    background-image: linear-gradient(rgb(251, 251, 251), rgb(129, 120, 252));
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    padding: 25px 40px;
    background-color: #fff;
  }
  input {
    margin-bottom: 15px;
    padding: 6px;
    justify-content: center;
  }
  .register {
    text-align: center;
  }
</style>
